{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    {{ discussion.book }} : {{ discussion.question }}
{% endblock title %}

{% block content %}
    <!--book info-->
    {% thumbnail discussion.book.cover "150x75" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" 
        height="{{ im.height }}" alt="{{ discussion.book.title }}">
    {% endthumbnail %}
    <h2><a href="{% url 'book_detail' pk=discussion.book.id %}">
        {{ discussion.book.title }}
    </a> question</h2>
    <!--Question-->
    <h3>{{ discussion.question }}</h3>
    <!--Discussion comments-->
    <ul>
    {% for comment in discussion.comments.all %}
        <li>
        <p>{{ comment.commentor }} {{ comment.created|date:"M d, Y h:iA" }} </p> 
        <p>{{ comment.body }}</p>
        {% for reply in comment.replies.all %}
            <p><i>{{ reply.replier }}</i> {{ reply.created|date:"M d, Y h:iA" }}</p>
            <p><i>{{ reply.body }}</i></p>
        {% endfor %}
        </li><hr>
    {% empty %}
        <p>No comments yet</p>
        <a href="#">Be the first to comment</a><!--#TODO-->
    {% endfor %}
    </ul>
{% endblock content %}